<div class="max-w-2xl mx-auto space-y-6">
  <div>
    <h1 class="text-3xl font-bold text-gray-900">Edit Team Member</h1>
    <p class="text-gray-600 mt-2">Update member information for <%= @team.name %></p>
  </div>

  <div class="bg-white rounded-lg shadow p-6">
    <%= render 'form' %>
  </div>
</div>
